







module.exports = {
    async rewrites() {
        return [
            {
                "source": "/auth/signin",
                "destination": "https://dev.mitech.ai/api/auth/signin",
                "basePath": false
            },
            {
                "source": "/auth/signup",
                "destination": "https://dev.mitech.ai/api/auth/signup",
                "basePath": false
            },
            {
                "source": "/api/auth/:path*",
                "destination": "https://dev.mitech.ai/api/auth/:path*",
                "basePath": false
            }
        ]
    },
}