







module.exports = {
    async rewrites() {
        return [
            {
                "source": "/api/auth/:path*",
                "destination": "https://dev-auth.mitech.ai/api/auth/:path*"
            },
        ]
    },
}